.tvshow {
    &_active {
        --background: lightblue;
    }
    &-label {
        &_time {
            margin-right: 10px;
        }
        &_title {
            text-overflow: ellipsis;
        }
    }
    &-progress,
    &-waitdata {
        margin-top: 5px;
    }
}

.channel {
    &-logo {
        border-radius: 0;
        object-fit: contain;
    }
    &-name {
        margin-left: 10px;
        box-sizing: border-box;
        font-size: 14px;
        text-overflow: ellipsis;
    }    
}
