<ion-item (click)="watch()" [class.tvshow_active]="isCurrent">
    <ion-grid>
        <ion-row align-items-center *ngIf="channel" class="channel">
            <ion-thumbnail slot="start">
                <img class="channel-logo" [src]="channel.logo">
            </ion-thumbnail>
            <ion-label class="channel-name">{{ channel.name }}</ion-label>
        </ion-row>
        <ion-row align-items-center *ngIf="aTvShow">
                <ion-label class="tvshow-label_time"><b>{{aTvShow.start|time}} - {{aTvShow.stop|time}}</b></ion-label>
                <ion-note class="tvshow-label_title" text-wrap>{{aTvShow.title}}</ion-note>
        </ion-row>
        <ion-row align-items-center>
            <ion-progress-bar color="secondary" value="{{progress}}" *ngIf="isCurrent" class="tvshow-progress"></ion-progress-bar>
            <ion-progress-bar type="indeterminate" *ngIf="!aTvShow && isLoadingTvShow" class="tvshow-waitdata"></ion-progress-bar>
        </ion-row>
    </ion-grid>
</ion-item>
