<ion-header>
    <ion-toolbar color="success" text-center>
        <ion-buttons slot="start">
            <ion-menu-button menu="main"></ion-menu-button>
        </ion-buttons>
        <ion-title>
            <ion-icon name="glasses"></ion-icon>
            <ion-label class="header-label">О приложении</ion-label>
        </ion-title>
    </ion-toolbar>
</ion-header>
          
<ion-content>
    Cfvjt kexitt ghbkj;tybt!
</ion-content>
          