<ion-header>
    <ion-toolbar color="tertiary" text-center>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            <ion-icon name="videocam"></ion-icon>
            <ion-label class="header-label">Воспроизведение</ion-label>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button color="danger" expand="block" (click)="goHome()">На главную</ion-button>
    <ion-button expand="block" (click)="onClick()">{{buttonText}}</ion-button>
    <video id="video" controls></video>
</ion-content>