<ion-header>
    <ion-toolbar color="primary" text-center>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            <ion-icon name="recording"></ion-icon>
            <ion-label class="header-label">Передачи на {{aDate|shortdate}}</ion-label>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <tvshow [aTvShow]="tvs" *ngFor="let tvs of tvShows"></tvshow>
    </ion-list>
    <not-found *ngIf="isEmpty" [cardTitle]="'Передачи отсутствуют'" [cardContent]="'Для указанной даты отсутствует список доступных для просмотра передач.'"></not-found>
</ion-content>