<ion-app>
  <ion-menu menuId="main" side="start" type="overlay">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Главное меню</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list (click)="closeMenu()">
        <ion-item routerLink="/home" routerLinkActive="item-active">
          <ion-icon name="filing"></ion-icon>
          <ion-label class="main-menu-label">Каналы</ion-label>
        </ion-item>
        <ion-item routerLink="/live" routerLinkActive="item-active">
          <ion-icon name="recording"></ion-icon>
          <ion-label class="main-menu-label">Сейчас в эфире</ion-label>
        </ion-item>
        <ion-item routerLink="/about" routerLinkActive="item-active">
          <ion-icon name="glasses"></ion-icon>
          <ion-label class="main-menu-label">О приложении</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
