<ion-card>
    <ion-card-header>
        <ion-card-title>{{cardTitle}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        {{cardContent}}
        <ion-button color="danger" expand="block" (click)="goHome()">На главную</ion-button>
    </ion-card-content>
</ion-card>
