<ion-header>
    <ion-toolbar color="warning" text-center>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            <ion-icon name="calendar"></ion-icon>
            <ion-label class="header-label">Даты</ion-label>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!--
    <ion-virtual-scroll [items]="uniqueDates" approxItemHeight="60px">
        <date *virtualItem="let dt; let itemBounds = bounds;" [aDate]="dt"></date>
    </ion-virtual-scroll>
    -->
    <ion-list>
        <date [aDate]="dt" *ngFor="let dt of uniqueDates"></date>
    </ion-list>
    <not-found *ngIf="isEmpty && !loading" [cardTitle]="'Даты отсутствуют'" [cardContent]="'Для указанного канала отсутствует список доступных для просмотра дат.'"></not-found>
</ion-content>