<ion-header>
    <ion-toolbar color="danger" text-center>
        <ion-buttons slot="start">
            <ion-menu-button menu="main"></ion-menu-button>
        </ion-buttons>
        <ion-title>
            <ion-icon name="filing"></ion-icon>
            <ion-label class="header-label">Каналы</ion-label>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- by list: slow
  <ion-list>
    <channel *ngFor="let chnl of channels" [channel]="chnl"></channel>
  </ion-list>
  -->
    <ion-virtual-scroll [items]="dataService.channels" approxItemHeight="60px" *ngIf="dataService.channels">
        <!-- example from doc
    <ion-card *virtualItem="let item; let itemBounds = bounds;">
      <div>
        <img [src]="item.imgSrc" [height]="item.imgHeight" [alt]="item.name">
      </div>
    <ion-card-header>
      <ion-card-title>{{ item.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>{{ item.content }}</ion-card-content>
    </ion-card>
    -->
        <channel *virtualItem="let chnl; let itemBounds = bounds;" [channel]="chnl"></channel>
    </ion-virtual-scroll>
</ion-content>