<ion-header>
    <ion-toolbar color="secondary" text-center>
        <ion-buttons slot="start">
            <ion-menu-button menu="main"></ion-menu-button>
        </ion-buttons>
        <ion-title>
            <ion-icon name="recording"></ion-icon>
            <ion-label class="header-label">Сейчас в эфире</ion-label>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!--
    <ion-list>
        <tvshow [aTvShow]="lc.tvShow" [channel]="lc.channel" *ngFor="let lc of liveChannels" [getCurrent]="true"></tvshow>
    </ion-list>
    -->
    <!--
    <ion-virtual-scroll [items]="liveChannels" approxItemHeight="60px">
        <tvshow *virtualItem="let lc" [channel]="lc.channel" [aTvShow]="lc.tvShow" [getCurrent]="true"></tvshow>
    </ion-virtual-scroll>
    -->

    <ion-virtual-scroll [items]="dataService.channels" approxItemHeight="150px" *ngIf="dataService.channels">
        <tvshow *virtualItem="let chnl" [channel]="chnl" [getCurrent]="true"></tvshow>
    </ion-virtual-scroll>

    <!--
    <ion-list>
        <tvshow *ngFor="let chnl of dataService.channels" [channel]="chnl" [getCurrent]="true"></tvshow>
    </ion-list>
    -->
    <not-found *ngIf="isEmpty && !loading" [cardTitle]="'Данные отсутствуют'" [cardContent]="'Отсутствуют список доступных для просмотра передач.'"></not-found>
</ion-content>